# Data Analysis with Python & Pandas
... expanding your horizons beyond Excel

In [105]:
# import dependencies and alias
import pandas as pd # Pandas: Mar 12, 2020 Version: 1.0.2
import numpy as np # Numpy: Jan 6, 2020 Version: 1.18.1

In [106]:
# Documentation: https://pandas.pydata.org/docs/index.html# & https://pandas-docs.github.io/pandas-docs-travis/
    # help()
    # Shift + Tab Completion and docstring (documentation)
    
# dataframe = lib.method(data_variable, args)    
df = pd.DataFrame()

In [107]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

### Why Pandas?

- well suited for heterogenous, ordered/unordered data with low dimensionality (relational/labeled data)
- major features: Series (1D), DataFrame (2D)
- computationaly very fast vs. Python or Excel (uses NumPy), essential for big data
- allows for super simple data manipulation & inspection

More on NumPy and why it's awesome: https://towardsdatascience.com/how-fast-numpy-really-is-e9111df44347

### Data Structures

- Pandas utilizes DataFrames (Excel Sheet), Series (column), and an Index
- common data types: object (string or mixed), int64, float64, datetime64, Bool (more details later)
    - more info on data types: https://pbpython.com/pandas_dtypes.html
    - more info on date time types: https://towardsdatascience.com/basic-time-series-manipulation-with-pandas-4432afee64ea
- data formats: python object, flat (text) file, database, or an API

In [139]:
# Let's start with a simple list, numpy array, variable, tuple, ... any python sequence

s = [12, 'something', True]
s

[12, 'something', True]

#### Series

In [145]:
# Now let's turn it into a Series, note that a Series now has an index and is an object now

s_series = pd.Series(s)
s_series

0           12
1    something
2         True
dtype: object

In [150]:
# you can access array data with the .array method from numpy or positionally

s_series.array

<PandasArray>
[12, 'something', True]
Length: 3, dtype: object

##### DataFrame

In [151]:
# this is what a DataFrame looks like, where you can think of each column as a Series

# variable = pd.DataFrame(data)
d = pd.DataFrame({"A":[1, 2, 3], "B":[2, 4, 6], "C":[3, 6, 9]}) # ignore this bit for now ...
d

   A  B  C
0  1  2  3
1  2  4  6
2  3  6  9

#### Index, this is truely what makes Pandas special
- Default positional index starting at 0 like python except ...
- You can use anything as an index now (strings, dates, etc.), you can even have multiple indecies
- The index is hashable, creates an extra dimension/realtionship like a key in a dictionary
- Powerful way to organize/re-organize data in DataFrames: stacking, sorting, pivot, melt, reshape, etc.

More on the Pandas Index: https://towardsdatascience.com/pandas-index-explained-b131beaf6f7b

In [152]:
# a simple .T will transpose a DataFrame and make the column headers the new index
d.T

   0  1  2
A  1  2  3
B  2  4  6
C  3  6  9

#### Creating DataFrames
... most likely, you aleady have a data set but let's start with creating an example DataFrame to highlight it's structure & functionality

In [153]:
### Ignore this if you don't use JN ###

# note about Jupyter Notebooks: you can manipulate cell input/output displays with custom HTML/CSS functions like the one below
# credit: https://stackoverflow.com/questions/38783027/jupyter-notebook-display-two-pandas-tables-side-by-side

# for displaying dataframes side-by-side in cell output
from IPython.display import display_html
def display_side_by_side(*args):
    html_str=''
    for df in args:
        html_str+=df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'), raw=True)

In [113]:
# Example 1: Creating a DataFrame from a hashed (keyed) object
    # Create a DataFrame called df_dict, column headers = "Name", "Age", etc. and 
    # the data for each column is in a Series [x, y, z]
    # note: python dictionary = {"col_1": [x1, y1, z1], "col_2": [x2, y2, z2], ...}

df_dict = pd.DataFrame({"ID": [6386, 2762, 3614],
                   "Name": ["Sam", "Jane", "Bob"],
                   "DOB": ["03/17/1972", "08/15/1992", "01/23/1983"],
                   "Points": [22.5, 35.7, 58.0],
                   "Member": ['Y', "N", 'Y']}) # note the mixed use of "" & '', be consistent

# print the dataframe output, can also use print()
df_dict

     ID  Name         DOB  Points Member
0  6386   Sam  03/17/1972    22.5      Y
1  2762  Jane  08/15/1992    35.7      N
2  3614   Bob  01/23/1983    58.0      Y

In [114]:
# Example 2: Creating a DataFrame from a Series or Tuples
    # create a variable with data formatted as tuples
    # note: tuple notation - (values cannot change) & Series/list notation - [values can change]
data = [(6386, "Sam", "03/17/1972", 22.5, 'Y'),
        (2762,"Jane", "08/15/1992", 35.7, "N"),
        (6143, "Bob", "01/23/1983", 58.0, 'Y')]

# create the DataFrame, note the column headers are an argument this time
df_tuple = pd.DataFrame(data, columns =["ID", "Name", "DOB", "Points", "Member"])

# print the dataframe output
df_tuple

     ID  Name         DOB  Points Member
0  6386   Sam  03/17/1972    22.5      Y
1  2762  Jane  08/15/1992    35.7      N
2  6143   Bob  01/23/1983    58.0      Y

In [115]:
# now let's look at the two side-by-side using the function display_side_by_side
    # note the resulting identical DataFrames are from structurally different data sets
    # also note that we don't know anything about the data types yet
    # let's make some assumptions as see how they compare: object (string or mixed), int64, float64, datetime64, Bool
    
display_side_by_side(df_dict, df_tuple)

,ID,Name,DOB,Points,Member
0,6386,Sam,03/17/1972,22.5,Y
1,2762,Jane,08/15/1992,35.7,N
2,3614,Bob,01/23/1983,58.0,Y
,ID,Name,DOB,Points,Member
0,6386,Sam,03/17/1972,22.5,Y
1,2762,Jane,08/15/1992,35.7,N
2,6143,Bob,01/23/1983,58.0,Y

### Data Types
- common data types: object, int64, float64, datetime64, Bool, timedelta[ns], categorical
- objects can be strings or mixed types (numbers '1234' & strings)
    - note object data types can contain more than one python/excel data type, eek
    - may require further inspection for object data types
- Pandas has 3 unique data types: datatime, timedelta and category
    - More on Python vs. Pandas data types: https://pbpython.com/pandas_dtypes.html
    - More on Pandas date data types: https://towardsdatascience.com/basic-time-series-manipulation-with-pandas-4432afee64ea

In [138]:
# using the dtypes method, we can compare the data types for each of the DataFrames we just created
# maybe you were expecting to see someting like this:
    # ID: int64
    # Name: string --> remember Pandas doesn't have a data type "string"
    # DOB: date --> Pandas has it's own data types, to utilize them with data created elsewhere, you will need to cast the data
    # Points: float64
    # Member: string --> note that values like this can be easily utilized by Boolean operations

df_dtypes_dict = pd.DataFrame(df_dict.dtypes, columns=["dict_dtype"])
df_dtypes_tuple = pd.DataFrame(df_tuple.dtypes, columns=["tuple_dtype"])

display_side_by_side(df_dtypes_dict, df_dtypes_tuple)

,dict_dtype
ID,int64
Name,object
DOB,object
Points,float64
Member,object
,tuple_dtype
ID,int64
Name,object
DOB,object
Points,float64
Member,object

#### Casting Data Types (.astype)

In [135]:
# changing or casting a data type is super simple too, just use the .astype method

dict_ID_dtype = df_dict['ID'].dtypes # this is the dtype of the column ID
### spaces in string column headers matter: [spaces ok] vs. "spaces_not_ok". not the same as a series

dict_ID_astype = df_dict['ID'].astype('int32').dtypes # using the .astype method to cast ID column data type from int64 to int32

print(f"""df_dict ID original dtype: {dict_ID_dtype},
df_dict ID cast dtype: {dict_ID_astype}""")

df_dict ID original dtype: int64,
df_dict ID cast dtype: int32

### Reading & Writing Data
- Python Objects
- Supported File Types
- Databases
- APIs

In [ ]:
pd.read_

### Basic Data Inspection
- you can use [...] or dot notation to access columns within DataFrames --> df['A'] or df.A
    - spaces in string column headers matter: [spaces ok] vs. "spaces_not_ok"

In [ ]:


.head()/.tail()
.dtypes
.describe() # note that for mixed type objects, it will only eval numerical data
.shape
.unique

In [ ]:
### Selecting & Sorting Data
Dataframe.[ ] ; This function also known as indexing operator
Dataframe.loc[ ] : This function is used for labels.
Dataframe.iloc[ ] : This function is used for positions or integer based
Dataframe.ix[] : This function is used for both label and integer based

- Changing the order of columns: df = df[['C', 'B', 'A']]
    
# Grab DataFrame rows where column has certain values
valuelist = ['value1', 'value2', 'value3']
df = df[df.column.isin(valuelist)]

# Select rows containing certain values from pandas dataframe IN ANY COLUMN
df[df.values == 'X'].dropna(how='all') # this one makes multiple copies of the rows show up if multiple examples occur in the row
df[df.isin(['X'])].dropna(how='all') # BEST; this one works better if multiple occurences can in the same row

In [ ]:
### Adding and Removing Data
# Remove / delete a row where index matches a string
dfm = df.drop("Y12_data")
# Remove / delete rows where a condition or conditions are met
df = df.drop(df[df.score < 50].index)
# can be done in place
df.drop(df[df.score < 50].index, inplace=True)
# use booleans to enforce multiple conditions
df = df.drop(df[(df.score < 50) & (df.score > 20)].index)

In [ ]:
### Basic Data Cleaning

In [154]:
### Basic Statistics

In [ ]:
### Lambda Functions

In [ ]:
### Visualizations (Matplotlib)

#### More Pandas Stuff

    -  https://gist.github.com/fomightez/ef57387b5d23106fabd4e02dab6819b4

#### More Jupyter Notebook Stuff

    - Shift + Enter = executes a cell and displays the output
    - Ctrl + / = comments (#) or un-comments lines
    - Shift + Tab for tab completion and documentation
    - use ; to execute a line of code but not print an output
    - type setting equations: https://nbviewer.jupyter.org/github/ipython/ipython/blob/3.x/examples/Notebook/Typesetting%20Equations.ipynb